 body{
    background-color: rgb(255, 0, 0);
}

.mainDiv{
    display: block;
    margin-left: 40%;
}
    
input{
    width: 200px;
}

.toDiv{
    margin-left: 80%;
}

ul{
    list-style-type: circle;
}